<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>WEB-Crawler DAGOMYS</title>
    <link rel="icon" th:href="@{data:,}">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

<div class="container my-2">
    <h1>All pages</h1>

    <a th:href="@{/}" class="btn btn-primary btn-sm mb-3"> Home</a>
    <a th:href="@{/addUrl}" class="btn btn-primary btn-sm mb-3"> Add URL </a>
    <a th:href="@{/startCrawler}" class="btn btn-primary btn-sm mb-3"> Start crawler all pages </a>
    <a th:href="@{/lemmas}" class="btn btn-primary btn-sm mb-3"> Show all lemma</a>
    <a th:href="@{/search}" class="btn btn-primary btn-sm mb-3"> Search system</a>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Page ID</th>
            <th>Page path</th>
            <th>Page code</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="page: ${pages}">
            <td th:text="${page.id}"></td>
            <td th:text="${page.relPath}"></td>
            <td th:text="${page.statusCode}"></td>
            <td><a th:href="@{/{id}(id=${page.id})}" class="btn btn-primary">Start indexing page</a>
<!--                <a th:href="@{/deleteShop/{id}(id=${shop.id})}" class="btn btn-danger">Delete</a>-->
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>