<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>WEB-Crawler DAGOMYS</title>
    <    <link rel="icon" th:href="@{data:,}">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

<div class="container my-2">
    <h1>All pages</h1>

    <a th:href="@{/}" class="btn btn-primary btn-sm mb-3"> Home</a>
    <a th:href="@{/deleteAllLemma}" class="btn btn-primary btn-sm mb-3"> Delete all lemma</a>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Lemma ID</th>
            <th>Lemma</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lemma: ${lemmas}">
            <td th:text="${lemma.id}"></td>
            <td th:text="${lemma}"></td>
            <td th:text="${lemma.frequency}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>