<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Shop Inventory List</title>
    <link rel="icon" th:href="@{data:,}">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>WEB search</h1>
    <hr>
    <form action="#" th:action="@{/search}" method="POST" th:object="${searchRequest}">
        <input type="text" th:field="*{searchLine}" placeholder="add url" class="form-control mb-4 col-4">
        <div th:each="err : ${#fields.errors('searchLine')}">
            <li  th:text ="${err}"></li>
        </div>
        <button type="submit" class="btn btn-info col-2"> search....</button>
    </form>

    <hr>

    <!--    <a th:href="@{/}"> Back to shop List</a>-->
</div>
</body>
</html>