<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace=/frontend/header::header>
<body>
<div class="container">
    <h1>WEB Crawler</h1>
    <hr>
    <h2>Enter URL bellow</h2>

    <form action="#" th:action="@{/addUrl}" method="POST" th:object="${URL}">
        <input type="text" th:field="*{path}"  placeholder="add url" class="form-control mb-4 col-4">
        <div th:each="err : ${#fields.errors('path')}">
            <div class="alert alert-warning" role="alert">
                <li class="alert-link" th:text ="${err}"></li>
            </div>
        </div>
        <button type="submit" class="btn btn-info col-2"> Add to database</button>
    </form>

    <hr>

    <!--    <a th:href="@{/}"> Back to shop List</a>-->
</div>
</body>
</html>