<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace=/frontend/header::header>

<body>

<div class="container my-2">
    <h1>All pages</h1>

    <a th:href="@{/new}" class="btn btn-primary btn-sm mb-3"> Home</a>
    <a th:href="@{/startIndexing}" class="btn btn-primary btn-sm mb-3"> Start indexing all sites </a>
    <a th:href="@{/stopIndexing}" class="btn btn-primary btn-sm mb-3"> STOP indexing</a>
    <a th:href="@{/new/lemmas}" class="btn btn-primary btn-sm mb-3"> Show all lemma</a>
    <a th:href="@{/new/search}" class="btn btn-primary btn-sm mb-3"> Search system</a>
    <a th:href="@{/new/sites}" class="btn btn-primary btn-sm mb-3"> Sites</a>
    <div class="accordion" id="accordionExample">
        <div th:each="site: ${sites}" class="accordion-item">
            <h2 class="accordion-header" th:id="'heading_'+${site.id}">
                <button th:text="${site.name}" class="accordion-button" type="button" th:attr="data-bs-target='#accordion_'+${site.id}, aria-controls='accordion_'+${site.id}, data-bs-toggle='collapse'" aria-expanded="true">
                    Элемент аккордеона #1
                </button>
            </h2>
            <div th:id="'accordion_'+${site.id}" class="accordion-collapse collapse show" th:attr="aria-labelledby='heading_'+${site.id}" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table border="1" class="table table-striped table-responsive-md">
                        <thead>
                        <tr>
                            <th>Page ID</th>
                            <th>Page path</th>
                            <th>Page code</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="page, stats: ${site.pages}">
                            <td th:text="${stats.index + 1}"></td>
                            <td th:text="${page.relPath}"></td>
                            <td th:text="${page.statusCode}"></td>
                            <td><a th:href="@{/new/{id}(id=${page.id})}" class="btn btn-primary">Start indexing page</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>                </div>
            </div>
        </div>
    </div>

</div>
</body>

</html>