<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace=/frontend/header::header>
<body>
<div class="container">
    <h1>WEB search</h1>
    <hr>
    <a th:href="@{/new}" class="btn btn-primary btn-sm mb-3"> Back to main</a>
    <form action="#" th:action="@{/search}" method="POST" th:object="${searchRequest}">
        <input type="text" th:field="*{searchLine}" placeholder="введите строку поиска..." class="form-control mb-4">
        <div th:each="err : ${#fields.errors('searchLine')}">
            <li th:text="${err}"></li>
        </div>
        <button type="submit" class="btn btn-success col-2"> Go-></button>
    </form>

    <hr>
    <div class="container my-2">
        <table border="1" class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Page</th>
                <th>Lemma</th>
                <th>Rate</th>
            </tr>
            </thead>
            <tbody>
            <span th:each="index: ${indexList}">
            <tr th:each="col, stat : ${index.searchData}">
                <td th:text="${stat.index + 1}"></td>
                <!--                <td th:text="${index.id}"></td>-->
                <td th:text="${col.title}"></td>
                <td th:utext="${col.URI}"></td>
                <td th:utext="${col.snippet}"></td>
<!--                                <td th:text="${col.lemma}"></td>-->
                                <td th:text="${col.relevance}"></td>
            </tr>
            </span>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>