<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace=/frontend/header::header>

<body>

<div class="container my-2">
    <h1>All sites</h1>

    <a th:href="@{/new}" class="btn btn-primary btn-sm mb-3"> Home</a>
    <a th:href="@{/new/addUrl}" class="btn btn-primary btn-sm mb-3"> Add URL </a>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Site ID</th>
            <th>Site URL</th>
            <th>Title</th>
            <th>Status</th>
            <th>Status time</th>
            <th>Error</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="site: ${sites}">
            <td th:text="${site.id}"></td>
            <td th:text="${site.url}"></td>
            <td th:text="${site.name}"></td>
            <td th:text="${site.status}"></td>
            <td th:text="${site.statusTime}"></td>
            <td th:text="${site.lastError}"></td>
            <td><a th:href="@{/new/sites/{id}(id=${site.id})}" class="btn btn-success">Start indexing</a>
                <div>
                    <form th:action="@{/new/sites/{id}(id=${site.id})}" th:method="delete">
                        <button class="btn btn-danger" th:type="submit">Delete</button>
                    </form>
                </div>
                <!--                <a th:href="@{/sites/{id}(id=${site.id})}" class="btn btn-danger">Delete site</a>-->
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>